<div class="background">
  <div class="gradient">
    <div class="container">
      <h1>游戏监控 说明文档</h1>
      <div class="actions">
        <a [ngClass]="routeAnimationsElements"
           mat-raised-button class="actions-main" color="primary" routerLink="../features">
          历史对比
        </a>
        <a mat-raised-button class="actions-main" color="accent" routerLink="../examples"
           [ngClass]="routeAnimationsElements">
          实时监控
        </a>
        <a mat-raised-button class="actions-main" color="warn" routerLink="../settings"
           [ngClass]="routeAnimationsElements">
          改变主题
        </a>
        <br>
        
      </div>
      <div class="get-started" [ngClass]="routeAnimationsElements">
        <h2>Getting started</h2>
        <code>在浏览器中输入地址 http://127.0.0.1:3000 可以打开多个窗口，方便查看</code>
        <h3>实时监控</h3>
        <code>root手机，联网并且在手机端装上app，点击USBSTART</code><br>
        <code>运行adb reverse tcp:3000 tcp:3000</code><br>
        <code>点击悬浮窗+号，弹出按钮中的保存当前数据可以导出json文件</code><br>
        <code>点击悬浮窗+号，弹出按钮中的重新开始，可以清除数据重新记录</code>
        <h3>历史对比</h3>
        <code>把实时监控导出的json文件拖入提示的框框中</code><br>
        <code>在fps图中可以点击截取去掉点击的位置前面的所有数据</code><br>
        <code>按住ALT键，在fps图中可以点击截取去掉点击的位置后面的所有数据</code><br>

        <h3>其他一些功能</h3>
        <code>在服务端软件界面（即‘Electron-With-Express’） 按F1按键可以调出或者隐藏服务器log页面，隐藏会清掉所有log</code><br>
        <code>按F2可以调出页面的开发者模式</code><br>
      </div>
    </div>
  </div>
</div>

