.srs{
    margin-bottom: 10px;
}
.srstable{
    width: 100%;
}
tr,td,thead,th{
    border: none !important;
}
.mat-form-field {
    font-size: 14px;
    width: 90%;
  }
.app-action {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 70px;
}
ngc-float-button  {
    position: absolute;
    top:-80px;
}
@import '../../../styles-variables';
mat-card {
margin: 0 0 20px 0;

mat-card-title {
    position: relative;

    code {
    position: absolute;
    top: 11px;
    right: 0;
    float: right;
    font-size: 10px;
    }
}
mat-card-subtitle {
    min-height: 60px;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    mat-card-subtitle {
    min-height: auto;
    }
}
}