.srs{
    margin-bottom: 10px;
}
.srstable{
    width: 100%;
}
tr,td,thead,th{
    border: none !important;
}
.mat-form-field {
    font-size: 14px;
    width: 90%;
  }
.app-action {
    display: inline-block;
    position: fixed;
    bottom: 50px;
    right: 70px;
}